.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .message-container {
    flex: 1; 
    overflow-y: auto; 
    padding-bottom: 16px; 
  }
  
  .bottom-navbar {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white; 
    z-index: 1; 
  }