// hahahahaha
.bannerBack-layer{
    height: 200px;
    background: rgb(140, 219, 211);
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.image{
    min-width: 12%;
    margin-left: 20px;
    border-radius: 100px;
}